body{
   background-image: url(images/ramka-prazdnovania-okoncania-skoly.jpg);
   background-size: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.conteiner{
   margin: 25vh;
   padding: 20px;
   border-radius: 10px;
   background-color: rgba(36,20,69,0.95);
}

h1{
   text-align: center;
   margin: 0px;
   color: #fff;
   font-weight: bold;
}
label{
   margin-top: 10px;
   font-weight: bold;
   color: #fff; 
}

input, select {
  padding: 5px 0px;      /* Отступы сверху/снизу */
  margin: 5px;
  border: 1px solid #ccc; /* Серая рамка */
  border-radius: 4px;     /* Скругленные углы */
  font-size: 14px;       /* Размер шрифта */
}

/* button{
   margin: 10px;
   border-radius: 4px;
} */

button[type=submit] {
  margin-top: 20px;
  padding: 10px;
  background-color: #28a745; ;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;  /* Курсор-указатель */
}


button[type=submit]:hover {
  background-color: #218838;  /* Изменение цвета при наведении */
}
