body{
   background-image: url(images/17213260_rm373batch13-085.jpg);
   background-size: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.conteiner{
   margin: 25vh;
   padding: 20px;
   border-radius: 10px;
   background-color: rgba(114, 193, 243,0.65);
}